.userImage{
  border-radius: 50%;
  width: 5%;
  height: 5%;
  float: left;
  display: inline; 
}
.myname{
  display: inline;
  padding-left: 50px;
  color: blue;
}
/*body{
  display: inline-block;
  background-image: url("/img/pic2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
}*/